
<html  xmlns:th="http://www.thymeleaf.org" 
       xmlns:layout = "http://wwww.ultraq.net.nz/thymeleaf/layout"
       layout:decorate = ~{layout}>
    <main layout:fragment ="main">
        <h1 class="pt-3">Lo más popular</h1>
        <div class = "container mt-3 p-3 rounded" style="background-color: rgba(255,
             255, 255, 0.2);">
            <h2>Peliculas</h2>
                <div class="row flex-nowrap overflow-auto p-3" >
                    <div class ="col-2 btn btn-outline-light p-1 m-3" th:each="pelicula : ${peliculas}"  >
                        <img th:src = "|https://media.themoviedb.org/t/p/w600_and_h900_bestv2${pelicula.poster_path}|" 
                             class="img-fluid"/>
                        <div style = "height: 15%" class="col-12">
                            <span class = "fs-6 fw-bolder" th:text="${pelicula.title}"></span><br/>
                            <span class  ="fs-6"  th:text="${pelicula.release_date}"></span>
                        </div>
                        <div class = "mt-4 row fs-4" >                        
                            <label class="col-4">
                                <input type="checkbox" class="btn-check" th:id="|btn-check-${pelicula.id}f-outlined|" th:data-movie="${pelicula.id}" data-media="movie"   autocomplete="off"  onclick="clickFavorito(this)" th:checked="${pelicula.reaccion.favorite}"
                                      >
                                <label class="btn btn-outline-danger" th:for="|btn-check-${pelicula.id}f-outlined|"><i class="bi bi-heart-fill"></i></label><br>
                            </label>
                            <label class="col-4">
                                <input type="checkbox" class="btn-check" th:id="|btn-check-${pelicula.id}l-outlined|" autocomplete="off">
                                <label class="btn btn-outline-danger" th:for="|btn-check-${pelicula.id}l-outlined|"><i class="bi bi-person-lines-fill"></i></label><br>
                            </label>
                            <label class="col-4">
                                <input type="checkbox" class="btn-check" th:id="|btn-check-${pelicula.id}g-outlined|" autocomplete="off">
                                <label class="btn btn-outline-danger" th:for="|btn-check-${pelicula.id}g-outlined|"><i class="bi bi-bookmark-fill"></i></label><br>
                            </label>
                        </div>
                    </div>              
                </div>
        </div>
        <script>
            
            async function actualizaFavorito(elemento){
                const body = {
                    media_type: elemento.getAttribute("data-media"),
                    media_id: elemento.getAttribute("data-movie"),
                    favorite: elemento.checked
                }
                console.log(body)
                $.ajax({
                    type:'POST',
                    url:"http://localhost:8080/AficionPelis/AddFavorite",
                    data:body,
                    datatype: "json",
                    success:(data)=>{
                                                
                    },
                    error:()=>{
                        
                    }
                    
            });
        }   
            function clickFavorito(elemento){          
               
              actualizaFavorito(elemento);
            }
        </script>
    </main>
</html>
